<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<style>
  @import "~bulma/css/bulma.css";
  
  body {
    height: 100vh;
    background: hsl(0, 0%, 96%);
  }
</style>

